.button {
  display: inline-flex;
  justify-content: center;
  align-items: self-end;
  gap: 6px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border: none;
  font: var(--font-button-text);
  text-decoration: none;

  & svg {
    inline-size: 24px;
    block-size: 24px;
  }

  &_variant_primary-1 {
    background-color: var(--bg-button-primary-1);
    color: var(--color-button-primary);

    &:hover {
      background-color: var(--bg-button-primary-hover-1);
    }

    &:active {
      background-color: var(--bg-button-primary-active-1);
    }
  }

  &_variant_primary-2 {
    background-color: var(--bg-button-primary-2);
    color: var(--color-button-primary);

    &:hover {
      background-color: var(--bg-button-primary-hover-2);
    }

    &:active {
      background-color: var(--bg-button-primary-active-2);
    }
  }

  &_variant_primary-3 {
    background-color: var(--bg-button-primary-3);
    color: var(--color-button-primary);

    &:hover {
      background-color: var(--bg-button-primary-hover-3);
    }

    &:active {
      background-color: var(--bg-button-primary-active-3);
    }
  }

  &_variant_primary-4 {
    background-color: var(--bg-button-primary-4);
    color: var(--color-button-primary);

    &:hover {
      background-color: var(--bg-button-primary-hover-4);
    }

    &:active {
      background-color: var(--bg-button-primary-active-4);
    }
  }

  &_variant_primary-5 {
    background-color: var(--bg-button-primary-5);
    color: var(--color-button-primary);

    &:hover {
      background-color: var(--bg-button-primary-hover-5);
    }

    &:active {
      background-color: var(--bg-button-primary-active-5);
    }
  }

  &_variant_primary-6 {
    background-color: var(--bg-button-primary-6);
    color: var(--color-button-tertiary);

    &:hover {
      background-color: var(--bg-button-primary-hover-6);
    }

    &:active {
      background-color: var(--bg-button-primary-active-6);
    }
  }

  &_variant_primary-7 {
    background-color: var(--bg-button-primary-7);
    color: var(--color-button-tertiary);

    &:hover {
      background-color: var(--bg-button-primary-hover-7);
    }

    &:active {
      background-color: var(--bg-button-primary-active-7);
    }
  }

  &_variant_border-1 {
    border: 1px solid var(--border-button-border-1);
    background-color: var(--bg-button-border-1);
    color: var(--color-button-secondary);

    &:hover {
      background-color: var(--bg-button-border-hover-1);
    }

    &:active {
      background-color: var(--bg-button-border-active-1);
    }
  }

  &_variant_border-2 {
    border: 1px solid var(--border-button-border-2);
    background-color: var(--bg-button-border-2);
    color: var(--color-button-secondary);

    &:hover {
      background-color: var(--bg-button-border-hover-2);
    }

    &:active {
      background-color: var(--bg-button-border-active-2);
    }
  }

  &_variant_border-3 {
    border: 1px solid var(--border-button-border-3);
    background-color: var(--bg-button-border-3);
    color: var(--color-button-secondary);

    &:hover {
      background-color: var(--bg-button-border-hover-3);
    }

    &:active {
      background-color: var(--bg-button-border-active-3);
    }
  }

  &_variant_outline-1 {
    border: 1px solid var(--border-button-outline);
    background-color: var(--bg-button-outline-1);
    color: var(--color-button-secondary);

    &:hover {
      background-color: var(--bg-button-outline-hover-1);
    }
  }

  &_variant_outline-2 {
    border: 1px solid var(--border-button-outline-2);
    background-color: var(--bg-button-outline-2);
    color: var(--color-button-outline-2);

    &:hover {
      background-color: var(--bg-button-outline-hover-2);
    }
  }

  &_variant_ghost-1 {
    background-color: var(--bg-button-ghost-1);
    color: var(--color-button-destructive);

    &:hover {
      background-color: var(--bg-button-ghost-hover-1);
    }

    &:active {
      background-color: var(--bg-button-ghost-active-1);
    }
  }

  &_variant_ghost-2 {
    background-color: var(--bg-button-ghost-2);
    color: var(--color-button-active);

    &:hover {
      background-color: var(--bg-button-ghost-hover-2);
    }

    &:active {
      background-color: var(--bg-button-ghost-active-2);
    }
  }

  &_size_full_psm {
    border-radius: 8px;
    padding-block: 9px;
    inline-size: 100%;
  }

  &_size_full_pm {
    border-radius: 8px;
    padding-block: 13px;
    inline-size: 100%;
  }

  &_size_xsm {
    padding: 10px;
  }

  &_size_sm {
    border-radius: 8px;
    padding: 9px 25px;
  }

  &_size_md {
    border-radius: 8px;
    padding: 13px 24px;
  }

  &_size_lg {
    border-radius: 8px;
    padding: 18px 24px;
  }
}
