{
  "printWidth": 80,
  "useTabs": false,
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "endOfLine": "lf",
  "cssDeclarationSorterKeepOverrides": false,
  "cssDeclarationSorterOrder": "concentric-css",
  "importOrder": ["^@/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": [
    "prettier-plugin-css-order",
    "@trivago/prettier-plugin-sort-imports"
  ]
}
