@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('./variables.css');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  @mixin light-theme;

  --transition-theme: none;
  --font-heading-1: 500 2.5rem/1.2 'Inter', sans-serif;
  --font-heading-2: 600 2rem/1.3 'Inter', sans-serif;
  --font-heading-3: 600 1.5rem/1.4 'Inter', sans-serif;
  --font-heading-4: 600 1.25rem/1.5 'Inter', sans-serif;
  --font-heading-5: 600 1.125rem/1.6 'Inter', sans-serif;
  --font-paragraph-medium: 500 1rem/1.6 'Inter', sans-serif;
  --font-paragraph: 400 1rem/1.6 'Inter', sans-serif;
  --font-small-text: 400 0.875rem/1.5 'Inter', sans-serif;
  --font-button-text: 500 0.875rem/1.6 'Inter', sans-serif;
  --font-label: 600 0.75rem 'Inter', sans-serif;

  &:is([data-transition='enabled']) {
    --transition-theme: background-color 0.8s ease-in-out;
  }
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    @mixin dark-theme;
  }
}

:root[data-theme='dark'] {
  @mixin dark-theme;
}
