@import url('./variables.css');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  transition: var(--transition-theme);
  background-color: var(--bg-page-primary);
}

p {
  transition: var(--transition-theme);
  background-color: var(--bg-page-secondary);
}

:root {
  @mixin light-theme;

  --transition-theme: none;

  &:is([data-transition='enabled']) {
    --transition-theme: background-color 1.2s ease-in-out;
  }
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    @mixin dark-theme;
  }
}

:root[data-theme='dark'] {
  @mixin dark-theme;
}
