@import url('./colors.css');

@define-mixin light-theme {
  color-scheme: light;

  --color-heading-primary: var(--grey-900);
  --color-text-primary: var(--grey-700);
  --color-text-secondary: var(--grey-600);
  --color-text-active: var(--primary-500);
  --color-link: var(--primary-600);
  --color-disable: var(--grey-400);
  --color-button-primary: var(--white);
  --color-button-secondary: var(--grey-900);
  --color-button-tertiary: var(--white);
  --color-button-outline-1: var(--grey-900);
  --color-button-outline-2: var(--grey-500);
  --color-button-destructive: var(--error-500);
  --color-button-active: var(--primary-500);
  --bg-button-primary-1: var(--grey-950);
  --bg-button-primary-hover-1: var(--grey-800);
  --bg-button-primary-active-1: var(--grey-700);
  --bg-button-primary-2: var(--grey-500);
  --bg-button-primary-hover-2: var(--grey-600);
  --bg-button-primary-active-2: var(--grey-700);
  --bg-button-primary-3: var(--grey-400);
  --bg-button-primary-hover-3: var(--grey-500);
  --bg-button-primary-active-3: var(--grey-600);
  --bg-button-primary-4: var(--error-600);
  --bg-button-primary-hover-4: var(--error-700);
  --bg-button-primary-active-4: var(--error-800);
  --bg-button-primary-5: var(--active-600);
  --bg-button-primary-hover-5: var(--active-700);
  --bg-button-primary-active-5: var(--active-800);
  --bg-button-primary-6: var(--primary-500);
  --bg-button-primary-hover-6: var(--primary-600);
  --bg-button-primary-active-6: var(--primary-700);
  --bg-button-primary-7: var(--primary-600);
  --bg-button-primary-hover-7: var(--primary-700);
  --bg-button-primary-active-7: var(--primary-800);
  --bg-button-primary-8: var(--white);
  --bg-button-primary-hover-8: var(--grey-100);
  --bg-button-primary-active-8: var(--grey-200);
  --bg-button-border-1: var(--white);
  --bg-button-border-hover-1: var(--grey-100);
  --bg-button-border-active-1: var(--grey-200);
  --bg-button-border-2: var(--grey-50);
  --bg-button-border-hover-2: var(--grey-100);
  --bg-button-border-active-2: var(--grey-200);
  --bg-button-outline-1: var(transparent);
  --bg-button-outline-hover-1: var(--grey-900a);
  --bg-button-outline-2: var(transparent);
  --bg-button-outline-hover-2: var(--grey-500a);
  --bg-button-ghost-1: var(transparent);
  --bg-button-ghost-hover-1: var(--grey-100a);
  --bg-button-ghost-active-1: var(--grey-200a);
  --bg-button-ghost-2: var(transparent);
  --bg-button-ghost-hover-2: var(--grey-100a);
  --bg-button-ghost-active-2: var(--grey-200a);
  --bg-page-primary: var(--white);
  --bg-page-secondary: var(--grey-50);
  --bg-section: var(--grey-50);
  --bg-footer: var(--grey-800);
  --bg-sidebar: var(--grey-900);
  --border-primary: var(--grey-200);
  --border-button-primary-8: var(--grey-200);
  --border-button-outline: var(--grey-900);
  --border-button-outline-2: var(--grey-500);
  --border-button-border-1: var(--grey-900);
  --border-button-border-2: var(--grey-200);
  --icon-fill-primary: var(--grey-700);
  --icon-fill-primary-hover: var(--grey-800);
  --icon-fill-secondary: var(--grey-900);
  --icon-fill-secondary-hover: var(--black);
}

@define-mixin dark-theme {
  color-scheme: dark;

  --color-button-primary: var(--grey-900);
  --color-button-secondary: var(--white);
  --color-button-tertiary: var(--white);
  --color-button-outline-1: var(--white);
  --color-button-outline-2: var(--grey-400);
  --color-button-destructive: var(--error-500);
  --color-button-active: var(--primary-500);
  --bg-button-primary-1: var(--grey-200);
  --bg-button-primary-hover-1: var(--grey-300);
  --bg-button-primary-active-1: var(--grey-400);
  --bg-button-primary-2: var(--grey-300);
  --bg-button-primary-hover-2: var(--grey-400);
  --bg-button-primary-active-2: var(--grey-500);
  --bg-button-primary-3: var(--grey-200);
  --bg-button-primary-hover-3: var(--grey-300);
  --bg-button-primary-active-3: var(--grey-400);
  --bg-button-primary-4: var(--error-500);
  --bg-button-primary-hover-4: var(--error-600);
  --bg-button-primary-active-4: var(--error-700);
  --bg-button-primary-5: var(--active-500);
  --bg-button-primary-hover-5: var(--active-600);
  --bg-button-primary-active-5: var(--active-700);
  --bg-button-primary-6: var(--primary-700);
  --bg-button-primary-hover-6: var(--primary-800);
  --bg-button-primary-active-6: var(--primary-900);
  --bg-button-primary-7: var(--primary-800);
  --bg-button-primary-hover-7: var(--primary-900);
  --bg-button-primary-active-7: var(--primary-950);
  --bg-button-primary-8: var(--grey-700);
  --bg-button-primary-hover-8: var(--grey-800);
  --bg-button-primary-active-8: var(--grey-900);
  --bg-button-border-1: var(--grey-700);
  --bg-button-border-hover-1: var(--grey-800);
  --bg-button-border-active-1: var(--grey-900);
  --bg-button-border-2: var(--grey-800);
  --bg-button-border-hover-2: var(--grey-900);
  --bg-button-border-active-2: var(--grey-950);
  --bg-button-outline-1: var(transparent);
  --bg-button-outline-hover-1: var(--grey-700a);
  --bg-button-outline-2: var(transparent);
  --bg-button-outline-hover-2: var(--grey-500a);
  --bg-button-ghost-1: var(transparent);
  --bg-button-ghost-hover-1: var(--grey-700a);
  --bg-button-ghost-active-1: var(--grey-600a);
  --bg-button-ghost-2: var(transparent);
  --bg-button-ghost-hover-2: var(--grey-700a);
  --bg-button-ghost-active-2: var(--grey-600a);
  --bg-page-primary: var(--grey-950);
  --bg-page-secondary: var(--grey-900);
  --color-text-active: var(--primary-500);
  --border-button-primary-8: var(--grey-400);
  --border-button-outline: var(--grey-300);
  --border-button-outline-2: var(--grey-400);
  --border-button-border-1: var(--grey-300);
  --border-button-border-2: var(--grey-500);
  --icon-fill-primary: var(--grey-100);
  --icon-fill-primary-hover: var(--grey-200);
  --icon-fill-secondary: var(--grey-300);
  --icon-fill-secondary-hover: var(--grey-400);
}
