@import url('./colors.css');

@define-mixin light-theme {
  color-scheme: light;

  --bg-page-primary: var(--white);
  --bg-page-secondary: var(--grey-50);
  --color-text-active: var(--blue-500);
  --color-button-primary: var(--white);
  --color-button-secondary: var(--grey-900);
  --color-button-ghost-1: var(--red-500);
  --color-button-ghost-2: var(--blue-500);
  --color-button-outline-2: var(--grey-700);
  --icon-fill-primary: var(--grey-700);
  --icon-fill-primary-hover: var(--grey-800);
  --icon-fill-secondary: var(--grey-900);
  --icon-fill-secondary-hover: var(--black);
  --bg-button-outline-hover-1: var(--grey-500a);
  --bg-button-outline-active-1: var(--grey-600a);
  --bg-button-outline-hover-2: var(--grey-500a);
  --bg-button-outline-active-2: var(--grey-600a);
  --bg-button-ghost-hover: var(--grey-200a);
  --bg-button-ghost-active: var(--grey-300a);
  --bg-button-scheme-blue: var(--blue-600);
  --bg-button-scheme-blue-hover: var(--blue-700);
  --bg-button-scheme-blue-active: var(--blue-800);
  --bg-button-scheme-grey: var(--grey-500);
  --bg-button-scheme-grey-hover: var(--grey-600);
  --bg-button-scheme-grey-active: var(--grey-700);
  --bg-button-scheme-azure: var(--blue-500);
  --bg-button-scheme-azure-hover: var(--blue-600);
  --bg-button-scheme-azure-active: var(--blue-700);
  --bg-button-scheme-green: var(--green-600);
  --bg-button-scheme-green-hover: var(--green-700);
  --bg-button-scheme-green-active: var(--green-800);
  --bg-button-scheme-red: var(--red-600);
  --bg-button-scheme-red-hover: var(--red-700);
  --bg-button-scheme-red-active: var(--red-800);
  --bg-button-scheme-black: var(--grey-950);
  --bg-button-scheme-black-hover: var(--grey-800);
  --bg-button-scheme-black-active: var(--grey-700);
  --bg-button-scheme-white: var(--white);
  --bg-button-scheme-white-hover: var(--grey-50);
  --bg-button-scheme-white-active: var(--grey-100);
  --border-button-outline-1: var(--grey-900);
  --border-button-outline-2: var(--grey-700);
  --border-button-outline-hover-2: var(--grey-600);
  --border-button-outline-active-2: var(--grey-500);
}

@define-mixin dark-theme {
  color-scheme: dark;

  --bg-page-primary: var(--grey-950);
  --bg-page-secondary: var(--grey-900);
  --color-text-active: var(--blue-500);
  --color-button-primary: var(--grey-900);
  --color-button-secondary: var(--white);
  --color-button-ghost-1: var(--red-500);
  --color-button-ghost-2: var(--blue-500);
  --color-button-outline-2: var(--grey-300);
  --icon-fill-primary: var(--grey-100);
  --icon-fill-primary-hover: var(--grey-200);
  --icon-fill-secondary: var(--grey-300);
  --icon-fill-secondary-hover: var(--grey-400);
  --bg-button-outline-hover-1: var(--grey-500a);
  --bg-button-outline-active-1: var(--grey-600a);
  --bg-button-outline-hover-2: var(--grey-500a);
  --bg-button-outline-active-2: var(--grey-600a);
  --bg-button-ghost-hover: var(--grey-600a);
  --bg-button-ghost-active: var(--grey-500a);
  --bg-button-scheme-blue: var(--blue-500);
  --bg-button-scheme-blue-hover: var(--blue-600);
  --bg-button-scheme-blue-active: var(--blue-700);
  --bg-button-scheme-grey: var(--grey-400);
  --bg-button-scheme-grey-hover: var(--grey-500);
  --bg-button-scheme-grey-active: var(--grey-600);
  --bg-button-scheme-azure: var(--blue-400);
  --bg-button-scheme-azure-hover: var(--blue-500);
  --bg-button-scheme-azure-active: var(--blue-600);
  --bg-button-scheme-green: var(--green-500);
  --bg-button-scheme-green-hover: var(--green-600);
  --bg-button-scheme-green-active: var(--green-700);
  --bg-button-scheme-red: var(--red-500);
  --bg-button-scheme-red-hover: var(--red-600);
  --bg-button-scheme-red-active: var(--red-700);
  --bg-button-scheme-black: var(--grey-200);
  --bg-button-scheme-black-hover: var(--grey-300);
  --bg-button-scheme-black-active: var(--grey-400);
  --bg-button-scheme-white: var(--grey-950);
  --bg-button-scheme-white-hover: var(--grey-800);
  --bg-button-scheme-white-active: var(--grey-700);
  --border-button-outline-2: var(--grey-300);
}
